body {
	margin: 3px;
	padding: 3rem 1rem;
    
}
html {
	font-size: 100%;
    font-family: sans-serif;
    background-color:#6F8FAF
}
.photo img{
	width: 80px;
	border-radius: 50%;
}

.profile{
    background-size:cover;
	position: relative;
	background-color: lightblue;
	padding: 2rem 1rem;
	margin-bottom: 50px;
	text-align: center;
	user-select: none;
}

table, th, td {
  text-align:center;
  border: 1px solid;
  width:1000px;
  height:50px;
  background-color: #89CFF0;
}
.education{
  text-align:center;
}
p{
  text-align: center;
}
h3{
  text-align: center;
}
.tab{
 margin-left:auto;
 margin-right:auto;
}  

.center{
  text-align: center;
  list-style-position: inside;
}

li{
  text-align: center;
}
.name{
  font-size: 2rem;
  color: darkblue;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
}  

.social{
 color:white; 
 transition:color 0.2s;
 text-decoration:none;
 margin: 0 5px;
} 
.social:hover{
color:black;
}
         
